# 忽略所有文件
*

# 忽略 .mypy_cache 資料夾
.mypy_cache/

# 排除 .gitignore 文件本身
!.gitignore

# 明確追蹤需要的文件或目錄
!*.py  # 例如，保留 Python 文件
!*.md  # 保留 Markdown 文件（如 README.md）
!requirements.txt  # 保留依賴列表

# 忽略敏感文件
config.json
